.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapOverlay {
  position: fixed;
  z-index: 1000;
}

.minorHeader {
  font-size: 20px;
  padding: 5px 10px 5px 10px;
}

.text {
  font-size: 16px;
  padding: 0 10px 5px 10px;
}

.minorMargin {
  padding: 5px;
}

.mediumPadding {
  padding: 10px;
}

.alignCenter {
  text-align: center;
}

.fullScreenWithAppBar {
  max-height: calc(100vh - 56px);
  overflow: hidden;
}

.startMarker, .endMarker {
  border-radius: 4px !important;
  border: solid 1px black !important;
  width: 5ch !important;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  min-height: 20px;
  position: relative;
}

.startMarker {
  background-color: #f5f5dc29 !important;
}

.endMarker {
  background-color: #f5ff9674 !important;
}